#web_bg{

background: #2BC0E4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

/* 背景图像的地址（url括号里）  */
background: url(../img/az6x9-fa2er.jpg);
background-repeat: no-repeat;
/* 背景图像大小 */
background-size: cover;

}
/* 主页所有文章页面背景 */
#aside_content .card-widget, #recent-posts>.recent-post-item, .layout_page>div:first-child:not(.recent-posts), .layout_post>#page, .layout_post>#post, .read-mode .layout_post>#post{
    /* 以下代表透明度为0.5 */
    background: rgba(255, 255, 255, 0.9);
}
/*侧边栏页面*/
#aside-content>.card-widget  {
	background: rgba(255,255,255,.6);
}
#aside-content>.sticky_layout>.card-widget{
	background: rgba(255,255,255,.6);
}
/*文章页面*/
.layout>#post{
	background: rgba(255, 255, 255, 0.808);
}
/*分类页面*/
.layout>#page{
	
	background: rgba(255,255,255,.6);
}
/*时间轴页面*/
.layout>#archive{
	background: rgba(255,255,255,.6);
}
/*页面脚隐藏*/
#footer{
	background: rgba(255, 255, 255, 0);
}
/*头部隐藏*/
#page-header:not(.not-top-img):before {
    background-color: rgba(0, 0, 0, 0);
}
#page-header {
    background-color: rgba(0, 0, 0, 0);
}
/*文章头部图片隐藏*/
#page-header {
    background-image: none !important;
}


